<!DOCTYPE html>
<html>
<head>
  <title>Split Rails Example</title>
</head>
<body>

<%= yield %>

  <div id="footer">
    <p>Powered by <a href="http://github.com/andrew/split">Split</a> v<%=Split::VERSION %></p>
  </div>
</body>
</html>
